@page
@model CharacterSheetModel
@{
    ViewData["Title"] = "Stars Without Number Character Sheet";

}
<form>
    <div class="container-fluid">

        <h1>@ViewData["Title"]</h1>

        <br />

        <div class="container">

            <div class="row">

                <h4>Basic Information</h4>

            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4 col-lg-2 col-xs-8">
                    <!-- have a play around with these-->
                    <!-- why does deleting the -sm-2 mess things up?-->
                    <!-- remember - classes are just names to identify groups of objects in javascript and css to styleise all items of the same type -->
                    <label for="@Model.Name">Name</label> <!-- How does this link to the Model.Name part? -->

                    <input id="@Model.Name" type="text" class="form-control" /> <!-- ids are individual elements as opposed to classes and their names must be unique -->

                </div>

                <div class="col-sm-2">

                    <label for="Background">Background</label>

                    <select id="Background" class="form-control">

                        <option>Barbarian</option>

                        <option>Clergy</option>

                        <option>Courtesan</option>

                        <option>Criminal</option>

                        <option>Dilettante</option>

                        <option>Entertainer</option>

                        <option>Merchant</option>

                        <option>Noble</option>

                        <option>Official</option>

                        <option>Peasant</option>

                        <option>Physician</option>

                        <option>Pilot</option>

                        <option>Politician</option>

                        <option>Scholar</option>

                        <option>Soldier</option>

                        <option>Spacer</option>

                        <option>Technician</option>

                        <option>Thug</option>

                        <option>Vagabond</option>

                        <option>Worker</option>

                    </select>

                </div>

                <div class="col-sm-2">

                    <label for="Class">Class</label>

                    <select id="Class" class="form-control" onchange="partialClass()">

                        <option>Adventurer</option>

                        <option>Expert</option>

                        <option>Psychic</option>

                        <option>Warrior</option>

                    </select>

                </div>

                <div class="col-sm-2">
                    <!--not yet working. Want to have a Partial Class box in the event that Adventurer is selected, see javascript function-->

                    <label for="PartialClass" style="visibility:hidden">Partial Classes</label>

                    <select id="PartialClass" class="form-control" style="visibility:hidden">

                        <option>Expert / Psychic</option>

                        <option>Expert / Warrior</option>

                        <option>Psychic / Warrior</option>

                    </select>

                </div>

            </div>

            <br />

            <div class="row">

                <div class="col-sm-2">

                    <label for="Species">Species</label>

                    <input id="Species" type="text" class="form-control" />

                </div>

                <div class="col-sm-2">

                    <label for="Gender">Gender</label>

                    <input id="Gender" type="text" class="form-control" />

                </div>

                <div class="col-sm-4">

                    <label for="Faction">Faction</label>

                    <input id="Faction" type="text" class="form-control" />

                </div>

                <div class="col-sm-2">

                    <label for="Homeworld">Homeworld</label>

                    <input id="Homeworld" type="text" class="form-control" />

                </div>

            </div>

            <br />

        </div> <!-- Basic Information Block -->

        <br />

        <div class="container">

            <div class="row">

                <h4>Core Statistics</h4>

            </div>

            <div class="row">

                <div class="col-sm-1">

                    <label for="Level">Level</label>

                    <input id="Level" type="text" class="form-control" />

                </div>

                <div class="col-sm-2">

                    <label for="Hitpoints">Hitpoints</label> <!-- have this be one textbox with a slash in the middle using javascript -->

                    <input id="Hitpoints" type="text" class="form-control" />

                </div>

                <div class="col-sm-2">

                    <label for="SystemStrain">System Strain</label> <!-- have this be one textbox with a slash in the middle using javascript -->

                    <input id="SystemStrain" type="text" class="form-control" />

                </div>

                <div class="col-sm-2">

                    <label for="PermanentStrain">Permanent Strain</label> <!-- have this be one textbox with a slash in the middle using javascript -->

                    <input id="PermanentStrain" type="text" class="form-control" />

                </div>

                <div class="col-sm-2">

                    <label for="XPNextLevel">XP / Next Level</label> <!-- have this be one textbox with a slash in the middle using javascript -->

                    <input id="XPNextLevel" type="text" class="form-control" />

                </div>

                <div class="col-sm-1">

                    <label for="AC">AC</label>

                    <input id="AC" type="text" class="form-control" />

                </div>

            </div>

            <br />

            <div class="row">

                <div class="col-sm-1">

                    <label for="AttackBonus">AB</label>

                    <input id="AttackBonus" type="text" class="form-control" />

                </div>

                <div class="col-sm-1">

                    <label for="Effort">Effort:</label>

                </div>

                <div class="col-sm-1">

                    <label for="CurrentEffort">Current</label>

                    <input id="CurrentEffort" type="text" class="form-control" />

                </div>

                <div class="col-sm-1">

                    <label for="SceneEffort">Scene</label>

                    <input id="SceneEffort" type="text" class="form-control" />

                </div>

                <div class="col-sm-1">

                    <label for="DayEffort">Day</label>

                    <input id="DayEffort" type="text" class="form-control" />

                </div>

                <div class="col-sm-1">

                    <label for="UncommittedEffort">Uncommitted</label>

                    <input id="UncommittedEffort" type="text" class="form-control" />

                </div>

            </div>

        </div> <!-- Core Statistics Block -->

        <br />

        <div class="container">

            <div class="row">

                <h4>Character Attributes</h4>

            </div>

            <div class="row">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Attribute</th>
                            <th scope="col">Base</th>
                            <th scope="col">Bonus</th>
                            <th scope="col">Modifier</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Strength</th>
                            <td><input id="StrengthBaseInput" type="text" class="form-control.col-sm-1" /></td> <!--Why are these so big? How to make boxes smaller?-->
                            <td><input id="StrengthBonusInput" type="text" class="form-control.col-sm-1" /></td>
                            <td>+1</td>
                        </tr>
                        <tr>
                            <th scope="row">Dexterity</th>
                            <td><input id="DexterityBaseInput" type="text" class="form-control.col-sm-1" /></td>
                            <td><input id="DexterityBonusInput" type="text" class="form-control.col-sm-1" /></td>
                            <td>+1</td>
                        </tr>
                        <tr>
                            <th scope="row">Constitution</th>
                            <td><input id="ConstitutionBaseInput" type="text" class="form-control.col-sm-1" /></td>
                            <td><input id="ConstitutionBonusInput" type="text" class="form-control.col-sm-1" /></td>
                            <td>+1</td>
                        </tr>
                        <tr>
                            <th scope="row">Intelligence</th>
                            <td><input id="IntelligenceBaseInput" type="text" class="form-control.col-sm-1" /></td>
                            <td><input id="IntelligenceBonusInput" type="text" class="form-control.col-sm-1" /></td>
                            <td>+1</td>
                        </tr>
                        <tr>
                            <th scope="row">Wisdom</th>
                            <td><input id="WisdomBaseInput" type="text" class="form-control.col-sm-1" /></td>
                            <td><input id="WisdomBonusInput" type="text" class="form-control.col-sm-1" /></td>
                            <td>+1</td>
                        </tr>
                        <tr>
                            <th scope="row">Charisma</th>
                            <td><input id="CharismaBaseInput" type="text" class="form-control.col-sm-1" /></td>
                            <td><input id="CharismaBonusInput" type="text" class="form-control.col-sm-1" /></td>
                            <td>+1</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div> <!-- Character Attributes Block - don't use tables! -->

        <br />

        <div class="container">

            <div class="row">

                <h4>Skills</h4>

            </div>

            <div class="row">

                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>Administer</td>
                            <td><input id="Administer" type="text" class="form-control col-sm-1" /></td>
                            <td>Know</td>
                            <td><input id="Know" type="text" class="form-control col-sm-1" /></td>
                            <td>Program</td>
                            <td><input id="Program" type="text" class="form-control col-sm-1" /></td>
                            <td>Survive</td>
                            <td><input id="Survive" type="text" class="form-control col-sm-1" /></td>
                        </tr>
                        <tr>
                            <td>Connect</td>
                            <td><input id="Connect" type="text" class="form-control.col-sm-1" /></td>
                            <td>Lead</td>
                            <td><input id="Lead" type="text" class="form-control.col-sm-1" /></td>
                            <td>Punch</td>
                            <td><input id="Punch" type="text" class="form-control.col-sm-1" /></td>
                            <td>Talk</td>
                            <td><input id="Talk" type="text" class="form-control.col-sm-1" /></td>
                        </tr>
                        <tr>
                            <td>Exert</td>
                            <td><input id="Exert" type="text" class="form-control.col-sm-1" /></td>
                            <td>Notice</td>
                            <td><input id="Notice" type="text" class="form-control.col-sm-1" /></td>
                            <td>Shoot</td>
                            <td><input id="Shoot" type="text" class="form-control.col-sm-1" /></td>
                            <td>Trade</td>
                            <td><input id="Trade" type="text" class="form-control.col-sm-1" /></td>
                        </tr>
                        <tr>
                            <td>Fix</td>
                            <td><input id="Fix" type="text" class="form-control.col-sm-1" /></td>
                            <td>Perform</td>
                            <td><input id="Perform" type="text" class="form-control.col-sm-1" /></td>
                            <td>Sneak</td>
                            <td><input id="Sneak" type="text" class="form-control.col-sm-1" /></td>
                            <td>Work</td>
                            <td><input id="Work" type="text" class="form-control.col-sm-1" /></td>
                        </tr>
                        <tr>
                            <td>Heal</td>
                            <td><input id="Heal" type="text" class="form-control.col-sm-1" /></td>
                            <td>Pilot</td>
                            <td><input id="Pilot" type="text" class="form-control.col-sm-1" /></td>
                            <td>Stab</td>
                            <td><input id="Stab" type="text" class="form-control.col-sm-1" /></td>
                            <td>Unspent Skill Points</td>
                            <td><input id="UnspentSkillPoints" type="text" class="form-control.col-sm-1" /></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div> <!-- Skills Block - note that this table is massive and looks bad on mobile -->

        <br />

        <div class="container">

            <div class="row">

                <h4>Character Foci</h4>

            </div>

            <div class="row">

                <label for="ClassAbilityFoci">Class Ability: @Model.Class</label>

                <textarea id="ClassAbilityFoci" rows="5" class="form-control"></textarea>

            </div>

            <br />

            <div class="row">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="FociDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose A Focus
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Alert</a>
                        <a class="dropdown-item" href="#">Armsman</a>
                        <a class="dropdown-item" href="#">Assassin</a>
                        <a class="dropdown-item" href="#">Authority</a>
                        <a class="dropdown-item" href="#">Close Combatant</a>
                        <a class="dropdown-item" href="#">Connected</a>
                        <a class="dropdown-item" href="#">Die Hard</a>
                        <a class="dropdown-item" href="#">Diplomat</a>
                        <a class="dropdown-item" href="#">Gunslinger</a>
                        <a class="dropdown-item" href="#">Hacker</a>
                        <a class="dropdown-item" href="#">Healer</a>
                        <a class="dropdown-item" href="#">Henchkeeper</a>
                        <a class="dropdown-item" href="#">Ironhide</a>
                        <a class="dropdown-item" href="#">Psychic Training</a>
                        <a class="dropdown-item" href="#">Savage Fray</a>
                        <a class="dropdown-item" href="#">Shocking Assault</a>
                        <a class="dropdown-item" href="#">Sniper</a>
                        <a class="dropdown-item" href="#">Specialist</a>
                        <a class="dropdown-item" href="#">Star Captain</a>
                        <a class="dropdown-item" href="#">Starfarer</a>
                        <a class="dropdown-item" href="#">Tinker</a>
                        <a class="dropdown-item" href="#">Unarmed Combatant</a>
                        <a class="dropdown-item" href="#">Unique Gift</a>
                        <a class="dropdown-item" href="#">Wanderer</a>
                        <a class="dropdown-item" href="#">Wild Psychic Talent</a>
                    </div>
                </div>
                <button type="button" class="btn btn-default btn-lg">

                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>

                    Add

                </button>
            </div>

        </div> <!-- Character Foci Block - https://getbootstrap.com/docs/4.1/components/button-group/ -->

        <br />

        <div class="row">

            <div class="col-sm-8">

                <button type="button" class="btn btn-default btn-lg">

                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>

                    Save Character

                </button>

            </div>

        </div> <!-- Save button - add a container to saving, loading options menu etc-->

    </div>

    <br />

    <div class="form-group row">
        <label for="@Model.Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="@Model.Name" value="@Model.Name">
        </div>
    </div> <!-- backend interaction testing -->

</form>

<p>@Model.Name</p>
 

<script type="text/javascript">
    function partialClass() { //trying to get a partial class option list to display when "Adventurer" is selected... WiP
        // Get the text box
        var classBox = document.getElementById("Class").value;
        // Get the output text
        var partialClassBox = document.getElementById("PartialClass").value;

        // If the checkbox is checked, display the output text
        if (classBox === "Adventurer") {
            document.getElementById("PartialClass").style.visibility = "visible";
        } else {
            document.getElementById("PartialClass").style.visibility = "hidden";
        }
    }
</script>